{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}
{% if es-swatch == blank %}
<div class="es-swatch error">
  <p>You must include the snippet es-swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'es-swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'es-swatch' with 'Colour' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == es-swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).on('load',function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = es-swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}
{% unless found_option %}
<div class="es-swatch error">
  <p>You included the snippet es-swatch.liquid with the name of a product option — <code>'{{ es-swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'es-swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'es-swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
            
<div class="es-swatch clearfix  option-{{ option_index }} option_{%if downcased_option == 'colour'%}0{%else%}1{%endif%}" data-option-index="{{ option_index }}">
  <div class="header">{{ es-swatch }} {% if es-swatch == 'Shoe Size'%}(UK){% endif %} : <span class="selected_val"></span></div>
  
  <div class="es-swatch-flex">
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" class="es-swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        {%comment%}<div class="tooltip">{{ value }}</div> {%endcomment%}
        {% endif %}
        <input id="es-swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled1{% endunless %} />
        {% if is_color %}
        <label for="es-swatch-{{ option_index }}-{{ value | handle }}" style="{%comment%}background-color: {{ value | split: ' ' | last | handle }};{%endcomment%} background-image: url({{ value | handle |prepend:'-' | prepend:product.handle  | append: '.' | append: file_extension | file_url }})">
         {% comment %}
          <img class="crossed-out" style="opacity: 0.5" src="{{ 'soldout.png' | asset_url }}" />
          {% endcomment %}
          <span class="crossed-line"></span>
          
        </label>
        {% else %}
        <label for="es-swatch-{{ option_index }}-{{ value | handle }}">
          {{ value }} 
          
          <span class="crossed-line"></span>
          
          {% comment %}
          <img class="crossed-out" style="opacity: 0.5"  src="{{ 'soldout.png' | asset_url }}" />
          {% endcomment %}
          
        </label>
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
    <script>
     //jQuery('.es-swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
  {% endfor %}
</div>
</div>

{% endunless %}

{% endif %}