
<div  class="preorder-card">
  <div class="col-head mobile-only" style="display:none">
    <h3 {% if section.settings.card-text-color != blank %}style="color:{{ section.settings.card-text-color }}"{% endif %}>{{ product_card_product.title }}</h3>
    <p {% if section.settings.card-text-color != blank %}style="color:{{ section.settings.card-text-color }}"{% endif %}>{{product_card_product.metafields.my_fields.collection_description}}</p>
  </div>

  {% assign products = section_blocks | where: "type", "product" %}

  <div class="col-box">
    <div class="left-part">
      <div class="col-img">
        <!--       <a  href="{{ product_card_product.url | default: '#' }}"> -->
        <a  href="">

          <span id="lense_icon" data-src="{{ product_card_product.featured_image.src | img_url: 'large' }}" class="lense_icon" aria-hidden="true"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
          </svg>
          </span><span class="lense_text">Click to view more</span>

                {% assign variant_selected = product_card_product.first_available_variant %}
                {% assign value1 = variant_selected.options[0] %}

          
                {% assign popup_url1 = variant_selected.featured_image | product_img_url: 'original'  %}
                {% assign temp_url1 = ''  %}
          	    {% assign popup_avail1 = 0 %}  
                
                {%- assign config_urls = popup_urls | split: "," -%}
                {% for config_url in config_urls %}
                  {%- assign conf = config_url | split: ":" -%}
                  {% if value1 == conf[0] %}
                    {% assign popup_avail1 = popup_avail1 | plus: 1 %}                    
                    {% assign popup_url1 = conf[1]  %}
                    {% assign temp_url1 = conf[1]  %}
                  {% endif %}
                 {% endfor %}
                 
                  {% if popup_avail1 == 0 %}
                    {% assign popup_url1 = variant_selected.featured_image | product_img_url: 'original'  %}                
                  {% else %}
                    {% assign popup_url1 = temp_url1  %}                
                  {% endif %}


          <img id="prod-img"
               src="{{ product_card_product.featured_image.src | img_url: 'large' }}"
               popup-src="{{ popup_url1 }}"
               loading="lazy"
               class="prod-img motion-reduce"

               >
          {% for tag in product_card_product.tags %}
          {% if tag contains 'badge-'%}
            <span class="bagd">
              {{tag | remove:'badge-'}}
            </span>
          {% endif %}
          {% endfor %}

        </a>
      </div>
    </div>
    <div class="right-part">
      <div class="col-info">
        <div class="col-head" style="margin-bottom:0">
          <h3 class="product_heading desk-color">{{ product_card_product.title }}</h3>
          <p class="desktop-only product_description">{{product_card_product.metafields.my_fields.collection_description}}</p>
        </div>
        <h4 style="display:none" class="mobile-only">
          <a  href="{{ product_card_product.url | default: '#' }}">
          {{ product_card_product.title }}
          </a>
        </h4>
        <p style="display:none" class="mobile-only">{{ product_card_product.description }}</p>
        <p class="Colorway__price">
          {% if  product_card_product.selected_or_first_available_variant.compare_at_price >  product_card_product.selected_or_first_available_variant.price %}

          <span class="compare-price">{{ product_card_product.selected_or_first_available_variant.compare_at_price | money_with_currency }}</span>
          {% endif %}
          <span class="ppriec">{{ product_card_product.selected_or_first_available_variant.price | money_with_currency }} </span>
        </p>
        <span class="discount-text">{{section.settings.discount-text}}</span>
        <div class="option-head desk-color" {% if section.settings.card-text-color != blank %}style="color:{{ section.settings.card-text-color }}"{% endif %}>Color: <span class="colmname"> {{product_card_product.selected_or_first_available_variant.title | remove:'/ 6' | remove:'/ 3'}}</span></div>
        {% if product_card_product.type == 'Shoe' %}
       	  <div class="color-slide product-colo">

          {% assign found_option = false %}
          {% assign is_color = false %}
          {% assign option_index = 0 %}

          {% for option in product_card_product.options %}
            {% if option == 'Colour' %}
              {% assign is_color = true %}
            {% endif %}
          {% endfor %}

          {% assign values = '' %}
          {% for variant in product_card_product.variants %}
            {% assign value = variant.options[option_index] %}
            {% unless values contains value %}
              {% assign values = values | join: ',' %}
              {% assign values = values | append: ',' | append: value %} 
              {% assign values = values | split: ',' %}
              {% if is_color %}
                <div class="item">

                {% assign popup_url = variant.featured_image | product_img_url: 'original'  %}
                {% assign temp_url = ''  %}
          	    {% assign popup_avail = 0 %}  
                
                {%- assign config_urls = popup_urls | split: "," -%}
                {% for config_url in config_urls %}
                  {%- assign conf = config_url | split: ":" -%}
                  {% if value == conf[0] %}
                    {% assign popup_avail = popup_avail | plus: 1 %}                    
                    {% assign popup_url = conf[1]  %}
                    {% assign temp_url = conf[1]  %}
                  {% endif %}
                 {% endfor %}
                 
                  {% if popup_avail == 0 %}
                    {% assign popup_url = variant.featured_image | product_img_url: 'original'  %}                
                  {% else %}
                    {% assign popup_url = temp_url  %}                
                  {% endif %}

                  <div data-value="{{value}}" data-handle="{{value | handle}}" class="variant-dd es-swatch-element color {{value | handle}} available">
                    <div popup-src="{{ popup_url }}" image-src="{{ variant.featured_image | product_img_url: 'original' }}" data-url="{{ product_card_product.url}}" class="img-variant" data-cprice="{{variant.compare_at_price | money}}" data-price="{{variant.price | money}}" style="display:none">

                    </div>
                    <input data-value="{{value | handle}}" {% if forloop.index == 1%} checked{% endif %} id="es-swatch-0-{{value | handle}}{{product_card_product.handle}}" type="radio" name="option-{{product_card_product.handle}}" value="{{value}}">

                    <div class="swatch-container"{% if show_swatch %}style="border-radius: 50%;"{% endif %}>

                        {% if show_swatch %}
                          <label data-id="{{variant.id}}" class="thumb-dd {% if forloop.index == 1%} active{% endif %}" for="es-swatch-0-{{value | handle}}{{product_card_product.handle}}" 
                              style="border-radius: 50%;background-image: url({{ value | handle | prepend: '-' | prepend: product_card_product.handle | append: '.' | append: 'png' | file_url }})">
                      {% else %}
                          <label data-id="{{variant.id}}" class="thumb-dd {% if forloop.index == 1%} active{% endif %}" for="es-swatch-0-{{value | handle}}{{product_card_product.handle}}" 
                             style=" background-image: url('{{variant.image.src | product_img_url }}')">
                      {% endif %}

                      </label>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% if product_card_product.type == 'Shoe' %}
      <div class="col-footer">
        {% if show_size_section %}

        <div class="quick-link">

          <div class="option-head qlink1 desk-color" {% if section.settings.card-text-color != blank %}style="color:{{ section.settings.card-text-color }}"{% endif %}>
            Shoe Size (UK) 
          </div>

        {% if show_size_chart %}
          <modal-opener class="qlink2 product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ selected_block.id }}" {{ block.shopify_attributes }}>
            <button id="ProductPopup-{{ selected_block.id }}-{{product_card_product.id}}" class="product-popup-modal__button link desk-color" type="button" aria-haspopup="dialog" {% if section.settings.card-text-color != blank %}style="color:{{ section.settings.card-text-color }}"{% endif %}>{{ selected_block.settings.text | default: selected_block.settings.page.title }}</button>
          </modal-opener>
          <a href="{{ selected_block.settings.page.url }}" class="product-popup-modal__button link no-js" >
            {{ selected_block.settings.text }}
          </a>
        {% endif %}



        </div>
        <div class="sizetoggle">
          <div class="r-select-size">

            {% for option in product_card_product.options %}
            {% if option contains 'Size' %}
            {% assign index = forloop.index0 %}
            {% assign colorlist = '' %}
            {% assign color = '' %}
            {% for variant in product_card_product.variants %}
            {% capture color %}
            {{ variant.options[index] }}
            {% endcapture %}
            {% unless colorlist contains color %}

            <input {% unless variant.available %} disabled {% endunless %}data-value="{{color | handle}}" {% if forloop.index == 1%} checked {% endif %}name="size{{product_card_product.handle}}" type="radio" id="idma{{color | handle }}{{product_card_product.handle}}" class="m-radio"   value="{{variant.id}}" qty-value="{{ variant.inventory_quantity }}">
            <label  for="idma{{color | handle}}{{product_card_product.handle}}" class="c-radio pre-order {% unless variant.available %} disabled {% endunless %}">

              {{color}}
            </label> 


            {% capture tempList %}
            {{colorlist | append: color | append:''}}
            {% endcapture %}
            {% assign colorlist = tempList %}
            {% endunless %}
            {% endfor %}
            {% endif %}
            {% endfor %} 
          </div>
        </div>

       {% else %}
          <br/>
    {% endif %}
                  
        {% form 'product', product_card_product %}

          <select  style="display:none" name="id">
            {% for variant in product_card_product.variants %}
            <option qty-value="{{ variant.inventory_quantity }}" value="{{variant.id}}" size-value="{{variant.title | split:"/"  | last | handle}}" color-value="{{variant.title | split:"/"  | first | handle}}">{{variant.title }}</option>
            {% endfor %} 
          </select>
          <button style="display:none;" type="submit">Add to cart</button>
          <a style="display:none" href="javascript:;" class="btn add_to_cart_button"></a>

            {% if show_atc==false and show_shop_now==false %}
              {{ form | payment_button }}
            {% endif %}

        {% endform %}
        

        {% if show_shop_now %}
        	<a style="text-decoration:none;" href="{{ product_card_product.url | default: '#' }}"><button class="card-btn-styled shop-now__button">{{ shop-text }}</button></a>          
        {% elsif show_atc %}
        	<button class="button-primary-1 button-width-full card-btn-styled preorder-atc"> {{ section.settings.atc-text }} </button>
        {% endif %}
        
        {% if show_notify %}
          <button class="notify_btn {{klavio}} desk-color" {% if section.settings.card-text-color != blank %}style="color:{{ section.settings.card-text-color }}"{% endif %}>OR NOTIFY ME</button>
        {% endif %}

      </div>
      {% endif %}
    </div>
  </div>



</div>

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
    <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
      {% render 'icon-close' %}
    </button>

    <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
      {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

      {%- for media in product.media -%}
      {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
      {%- endfor -%}
    </div>
  </div>
</product-modal>


