
{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'es-section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'es-variant-selectors-product.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'es-product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'es-variant-selectors-product.js' | asset_url }}"></script>
<style type="text/css">
  .es-swatch-element.color input:checked + label:before{
    border: 1px solid {{section.settings.color_border_swatch}};
  }
   
  .tab-header {
    display: none;
    letter-spacing: 1px;
    font-size: .8em;
    font-weight: 500;
    box-shadow: none;
  }
  .tab-button {
    
    appearance: none;
    height: 100%;
    position: relative;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid rgb(33,42,47);
    border-radius: 2px;
    padding: 10px inherit;
    outline: currentcolor none medium;
    background-color: transparent;
    transition: background 125ms cubic-bezier(.25,.46,.45,.94) 0s;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -moz-justify-content: center;
    align-items: center;
  
  }
  .tab-content {
    
    width: 100%;
	height: 4rem;
	padding: 0 3px 6px;
    
  }
  .active-tab {
	width:100%;
	border: 2.5px solid #212a2f;
    text-decoration:none;
    color:#000000;
    text-align:center;
    font-weight: 700;
  }
  .inactive-tab {
	width:100%;
    text-decoration:none;
    color:#000000;
    text-align:center;
  }
  .mob_section {
    display:none;
  }
  
 @media screen and (max-width: 749px){ 
    .mob_section {
      padding-top:10px;
      padding-bottom:10px;
      margin-bottom:10px;
      display:block;
      width:100%;
    } 
   .desk_section {
     display:none;    
   }
 }
  .fixed {
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 20%);
    z-index: 999;
  	left: 0
  }
  .fixed.fixed1 {
    position: absolute;
  }
  
  
/*   Offer txt styles */
  .anim-btn-container {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius:5px;
    border:1px solid #212a2f;
/*     border:1px solid #71ccff9c */
  }
  .anim-btn-inner {
	border: 0px solid #212a2f;
    border-radius:5px;
    display: flex;
    
  }
  .offer-txt {
    font-size: 1.2rem;
    margin: 4px 0;
    color: rgb(96 107 113);
  }

  
  .anim-btn{
    position: relative;
    align-items: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);                          
    display:flex;     
    height: 100%;    
  }


  
  .anim-btn-img{
    height: 80px;
    width: 80px;
    margin: 4px;
  }  
  
  {%- if product.title contains "D11" -%}
    .loox-rating{
      padding: 1rem 0 0 0;
    }
  {%- endif -%}

</style>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="page-width">
  <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
<!--     Product Image Grid  -->
    
    <div class="mob_section">
    <!-- Breadcrumbs added by Suhail       -->

      <style>

        .breadcrumb {
		  font-size: 1.1rem;
          font-weight: 400;    
        }

        .breadcrumb a {
          text-decoration : none;
          color: #212a2f;
		}
        .breadcrumb a:hover{
          text-decoration : underline;          
          
        }
        
        @media only screen and (max-width: 749px) {
          .breadcrumb a {
            text-decoration : underline;          
            
          }
        }
        
      </style>
      
      <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="/" title="Home">Home</a>
        {% assign bc_title = product.metafields.my_fields.product_breadcrumb_titles | split: "," %}
        {% assign bc_links = product.metafields.my_fields.product_breadcrumb_links | split: "," %}
        {% for bc in bc_title %}
          {% assign meta_index = forloop.index| minus: 1 %}
          <span aria-hidden="true">/</span>
          <a href="{{ bc_links[meta_index] }}" >{{ bc }}</a>
        {% endfor %}
        {% if section.settings.breadcrumb_link %} 
          <span aria-hidden="true">/</span>
          <a href="{{ section.settings.breadcrumb_link }}" >{{ section.settings.breadcrumb_txt }}</a>
        {% endif %}

      </nav>

      
      
<!-- End of Breadcrumbs added by Suhail       -->
      
      
      <div  class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="product__title" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden product_price" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
            </div>
            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__tax caption rte">
                {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
                
                {%- if product.title contains "D11" -%}
                  {%- if product.type  == 'Shoe' -%}
                    <p style="font-size: 1.4rem;
                    font-weight: bold;padding: 1.5rem 0.3rem;
                    border: 2px solid #c3e6cb;border-radius: 4px;
                    background-color: #d4edda;margin: 1rem 0 2rem 0;
                    color: #155724;text-align: left;">
                    Add the product to cart & apply your Dream11 discount code at checkout to get Flat Rs. 3000 OFF</p>
                  {%- endif -%}
                  {%- if product.type  == 'Bat' -%}
                    <p style="font-size: 1.4rem;
                    font-weight: bold;padding: 1.5rem 0.3rem;
                    border: 2px solid #c3e6cb;border-radius: 4px;
                    background-color: #d4edda;margin: 1rem 0 2rem 0;
                    color: #155724;text-align: left;">
                    Add the product to cart & apply your Dream11 discount code at checkout to get Flat Rs. 1000 OFF</p>
                  {%- endif -%}
                {%- endif -%}
<!--  <br/ >  custom text D11 -->
              </div>
            {%- endif -%}
            <div {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
        {%- endcase -%}
        {%- endfor -%}

        
      </div>
      
      
      
    </div>
      
    <div class="grid__item product__media-wrapper">
      <slider-component class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{% if section.settings.hide_variants %}{{ product.media.size | minus: variant_images.size | plus: 1 }}{% else %}{{ product.media.size }}{% endif %}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
<!--     Product Image Grid Ends Here -->

    <div class="product__info-wrapper grid__item">

      
<!-- Breadcrumbs added by Suhail       -->

      <style>

        .breadcrumb {
		  font-size: 1.1rem;
          font-weight: 400;    
        }

        .breadcrumb a {
          text-decoration : none;
          color: #212a2f;
		}
        .breadcrumb a:hover{
          text-decoration : underline;          
          
        }
        
        @media only screen and (max-width: 749px) {
          .breadcrumb a {
            text-decoration : underline;          
            
          }
        }
        
      </style>
      
      <nav class="desk_section breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="/" title="Home">Home</a>
        {% assign bc_title = product.metafields.my_fields.product_breadcrumb_titles | split: "," %}
        {% assign bc_links = product.metafields.my_fields.product_breadcrumb_links | split: "," %}
        {% for bc in bc_title %}
          {% assign meta_index = forloop.index| minus: 1 %}
          <span aria-hidden="true">/</span>
          <a href="{{ bc_links[meta_index] }}" >{{ bc }}</a>
        {% endfor %}
        {% if section.settings.breadcrumb_link %} 
          <span aria-hidden="true">/</span>
          <a href="{{ section.settings.breadcrumb_link }}" >{{ section.settings.breadcrumb_txt }}</a>
        {% endif %}

      </nav>

      
      
<!-- End of Breadcrumbs added by Suhail       -->
      
      

      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
        <div class="desk_section">
            <h1 class="product__title" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden product_price" id="price-{{ section.id }}-2" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
            </div>
            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__tax caption rte">
                {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
                
                {%- if product.title contains "D11" -%}
                  {%- if product.type  == 'Shoe' -%}
                    <p style="font-size: 1.4rem;
                    font-weight: bold;padding: 1.5rem 0.3rem;
                    border: 2px solid #c3e6cb;border-radius: 4px;
                    background-color: #d4edda;margin: 1rem 0 2rem 0;
                    color: #155724;text-align: left;">
                    Add the product to cart & apply your Dream11 discount code at checkout to get Flat Rs. 3000 OFF</p>
                  {%- endif -%}
                  {%- if product.type  == 'Bat' -%}
                    <p style="font-size: 1.4rem;
                    font-weight: bold;padding: 1.5rem 0.3rem;
                    border: 2px solid #c3e6cb;border-radius: 4px;
                    background-color: #d4edda;margin: 1rem 0 2rem 0;
                    color: #155724;text-align: left;">
                    Add the product to cart & apply your Dream11 discount code at checkout to get Flat Rs. 1000 OFF</p>
                  {%- endif -%}
                {%- endif -%}
<!--  <br/ >  custom text D11  -->

              </div>
            {%- endif -%}
            <div {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
            </div>
        
        
        
        
        
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
          {%- when 'quantity_selector' -%}
            <!--/ infographic way start  New Changes##############/-->   
              {% assign options = product.metafields.my_fields['product_details'] %}
              {% for option in options %}
              <p> {{ option.name }} </p>
              {% for value in option.values %}
              {{ value.name }}
              {% endfor %}
              {% endfor %}
			 <!--/ infographic way start  New Changes##############/--> 
            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>

              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
          {%- when 'share' -%}
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {% render 'icon-share' %}
                {{ block.settings.share_label | escape }}
              </button>
              <details>
                <summary class="share-button__button">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ shop.url | append: product.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                  </button>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          
        
          {%- when 'variant_picker' -%}

<!--         Suhail added Gender Tabs here  -->
        
        
        {%if section.settings.show_gender_tab%}
                
        	{%if section.settings.tab_radio == 'one'%}
                <div class="tab-header">Gender  :  <span class="selected_val">{{ section.settings.active_text }}</span></div>

             <div class="tabs" style="display:flex;letter-spacing: 2px;padding-top: 2rem;margin-bottom: 0.8rem;">
               <div class="tab-content">
                  <div class="tab2 tab-button active-tab" >
                        {{ section.settings.active_text }}

                  </div>
                 </div>
               <div class="tab-content">
                <a href="{{ section.settings.link_url2 }}" class="tab2 tab-button inactive-tab">
                      {{ section.settings.inactive_text }}

                </a>
               </div>
              </div>

        
            {% else %}
        <div class="tab-header">Gender  :  <span class="selected_val">{{ section.settings.inactive_text }}</span></div>

              <div class="tabs" style="display:flex;letter-spacing: 2px;padding-top: 2rem;margin-bottom: 0.8rem;">
               <div class="tab-content">
                <a href="{{ section.settings.link_url1 }}" class="tab2 tab-button inactive-tab" >
                      {{ section.settings.active_text }}

                </a>
                </div>
               <div class="tab-content">
                <div class="tab2 tab-button active-tab">
                      {{ section.settings.inactive_text }}

                </div>
                </div>

              </div>


            {% endif %}


        

        {% endif %}

<!--      End of Gender Tabs here  -->
        
            {%- unless product.has_only_default_variant -%}

            {% assign downcased_product_type = product.type | downcase %}
            <!-- If Product is a Shoe then we have a separate set of swatches -->
        
            {% if downcased_product_type == 'shoe' %}
        
              <!-- swatch  New Code Added ####-->
              {% if product.variants.size > 1 %}
                {% for option in product.options_with_values  %}
                  {%assign downcased_option = option.name | downcase %}
                  {%if downcased_option == 'colour'%} 
                  {% include 'es-swatch' with 'Colour' %}
                  {%elsif downcased_option contains 'size'%}
                  {% include 'es-swatch' with option.name %}
                  {%endif%}
                {% endfor %}
              {% endif %}
              <!-- end swatch -->
              <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  {%assign downcased_option = option.name | downcase %}
                  <div class="product-form__input product-form__input--dropdown single-option-selector 
                    {% if downcased_option == 'colour' or downcased_option contains 'size' %}es-hide {%endif%}" 
                    data-option="option{{ forloop.index }}" id="product-select-option-{{ forloop.index0 }}">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              class="select__select"
                              name="options[{{ option.name | escape }}]"
                              form="product-form-{{ section.id }}"
                              >
                        {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                        </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script type="application/json2">
 { {% for variant in product.variants %}"{{variant.id}}": {{variant.inventory_quantity | json}}{% if forloop.last == false %}, {% endif %} {% endfor %} }                              

               </script>
                <script type="application/json">
                                  {{ product.variants | json }}
                                  
                </script>
              </variant-selects>

            <!-- If Product type is not a shoe. ex: Bat, grip, etc -->
            {% else %}
                        <script type="application/json2">
 { {% for variant in product.variants %}"{{variant.id}}": {{variant.inventory_quantity | json}}{% if forloop.last == false %}, {% endif %} {% endfor %} }                              

               </script>

              <!-- swatch  New Code Added ####-->
              {% if product.variants.size > 1 %}
                {% for option in product.options_with_values  %}
                  {%assign downcased_option = option.name | downcase %}
                  {%if downcased_option == 'variant' or downcased_option == 'type' or downcased_option == 'grip' or downcased_option == 'pack' %} 
                  {% include 'es-swatch-bat' with option.name %}
                  {%endif%}
                {% endfor %}
              {% endif %}
              <!-- end swatch -->
              <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  {%assign downcased_option = option.name | downcase %}
                  <div class="product-form__input product-form__input--dropdown single-option-selector 
                    {% if downcased_option contains 'variant' or downcased_option contains 'type' or downcased_option contains 'grip' %}es-hide {%endif%}" 
                    data-option="option{{ forloop.index }}" id="product-select-option-{{ forloop.index0 }}">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              class="select__select"
                              name="options[{{ option.name | escape }}]"
                              form="product-form-{{ section.id }}"
                              >
                        {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                        </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script type="application/json">
                                  {{ product.variants | json }}
                </script>
              </variant-selects>
            {% endif %}
            {%comment%}
            {%- if block.settings.picker_type == 'button' -%}
            <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
              <fieldset class="js product-form__input">
                <legend class="form__label">{{ option.name }}</legend>
                {%- for value in option.values -%}
                <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                       name="{{ option.name }}"
                       value="{{ value | escape }}"
                       form="product-form-{{ section.id }}"
                       {% if option.selected_value == value %}checked{% endif %}
                       >
                <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                  {{ value }}
                </label>
                {%- endfor -%}
              </fieldset>
              {%- endfor -%}
              <script type="application/json">
                            {{ product.variants | json }}
              </script>
            </variant-radios>
            {%- else -%}
            <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
              <div class="product-form__input product-form__input--dropdown">
                <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>
                <div class="select">
                  <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                          >
                    {%- for value in option.values -%}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                    </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
              {%- endfor -%}

              <script type="application/json">
                            {{ product.variants | json }}
              </script>
            </variant-selects>
            {%- endif -%}
            {%endcomment%}
            {%- endunless -%}
<!--         	New Changes Added here######  -->

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option data-price="{{ variant.price | money | strip_html }}"
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </path>
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                              
                          {%- if product.selected_or_first_available_variant.available -%}
                            
                          {%- endif -%}

                  <div class="product-form__buttons">
                    <button
                      type="submit"
                             id="submit_to_cart"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      <div  class="m_sticky_price_outer">&nbsp;-&nbsp;<span class="m_sticky_price">{{product.selected_or_first_available_variant.price | money}} </span> </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                    <p class="es-mobile-text">{{section.settings.free_shipping_text}}</p>
                  </div>
                {%- endform -%}
              </product-form>

<!-- Out of stock message section added by Suhail  -->
              
                            
            {%if section.settings.show_offer%}
              

              <div class="anim-btn-container">
                <div class="anim-btn-inner " >
                  <img class="anim-btn-img"
                       src="{{section.settings.offer_image | img_url: '100x' }}" >                
                  <div style="margin: 4px 3px 4px 0px;">
                    <b style="color: rgb(96 107 113);">{{section.settings.offer_title}}</b><br>
                    <p class="offer-txt">{{section.settings.offer_txt}}</p>
                  </div>

                </div>
              </div>
              
            {% endif %}
              
              <div id="out-of-stock-msg-container" class="suhail">

                {%- assign show_msg = false -%}
	                {%- for block in section.blocks -%}
    		            {%- case block.type -%}
    	                  {%- when 'new_liquid' -%}
                            {%- assign msg_configured = true -%}                             
                            {%- assign out_of_stock_msg = block.settings.new_liquid -%}
                            {%- assign out_of_stock_link_text = block.settings.link_text -%}
                            {%- assign out_of_stock_link_url = block.settings.link_url -%}
                            {%- assign show_msg = block.settings.show_message -%}
          				{%- endcase -%}                              
                	{%- endfor -%}            
          <script>
// Checkbox test
            document.getElementsByClassName('loox-rating')[1].classList.add("desk_section");
            
            
           if({{show_msg}}){                                         
              if(document.body.contains(document.getElementsByClassName('arc-racer-stock-error')[0])){
                    document.getElementsByClassName('arc-racer-stock-error')[0].remove();
                  }
                  shoeOutOfStockText = document.createElement('div');


            	{
                    shoeOutOfStockText.innerHTML += `
                        <div id="arc-racer-stock-error" class="arc-racer-stock-error hide" style="margin-bottom: 20px">
                        	<div style="text-align:left; width:100%; padding: 10px 10px; background-color: #D4EDDA; border-color: #C3E6CB; color: #155724; border-radius: 5px">
								{{ out_of_stock_msg }}
						  <div id="notify_link"><a href="{{out_of_stock_link_url}}"  target="_blank" style="text-decoration:underline; color: #428bca; font-size: 14px;font-weight: normal;">{{out_of_stock_link_text}}</div>                          
                          <!-- <div id="sold-out-arc-racer">
                            {% form 'contact' %}
                              {% if form.posted_successfully? %}
                              <p class="accent-text">Thanks! We'll notify you when the Carbon Black becomes available.</p>
                              {% endif %}
                              {% if form.errors %}
                              {% endif %}
                              {% unless form.posted_successfully? %}
                              <div id="notify-me-wrapper" class="clearfix" style="display:flex">
                                {% if customer %}
                                <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
                                {% else %}
                                <input style="float:left; color:black; font-weight:300; border-radius:0; width: 80%" required="required" type="text" name="contact[email]" placeholder="999-999-9999" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                                {% endif %}
                                <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} $variant becomes available." />
                                <input style="background-color: #a94442; float:left; margin-left:5px; border-radius: 0" class="btn styled-submit" type="submit" value="Submit" />         
                              </div>
                              {% endunless %}
                            {% endform %}
                          </div> -->
                        </div>
                      </div>`;
                    shoeOutOfStockText.className = 'arc-racer-stock-error hide';
                    var urlParams = new URLSearchParams(window.location.search);
                    shoeOutOfStockText.innerHTML = shoeOutOfStockText.innerHTML.replace('$variant', urlParams.get('variant'));
                    document.querySelector("#out-of-stock-msg-container").insertAdjacentElement('afterend', shoeOutOfStockText);
                  }
	    }
    </script>
              </div>

<!-- End of out of stock message section added by Suhail  -->
              
              
              
              
              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
</section>
<div class="outer_stiky_btn">
<button
        type="button"
        class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
  <span>
    {%- if product.selected_or_first_available_variant.available -%}
    {{ 'products.product.add_to_cart' | t }}
    {%- else -%}
    {{ 'products.product.sold_out' | t }}
    {%- endif -%}
  </span>
  <div  class="m_sticky_price_outer">&nbsp;-&nbsp;<span class="m_sticky_price">{{product.selected_or_first_available_variant.price | money}} </span> </div>
</button>
 <p class="es-mobile-text">{{section.settings.free_shipping_text}}</p>
  </div>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      const activeMediaTemplate = activeMedia.querySelector('template');
      const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      const container = this.querySelector('[role="document"]');
      container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
  
    var swiper = new Swiper(".model_swiper", {
     navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}
<script>
// (c) Copyright 2016 Caroline Schnapp. All Rights Reserved. Contact: mllegeorgesand@gmail.com
// See https://docs.shopify.com/themes/customization/navigation/link-product-options-in-menus
 
var Shopify = Shopify || {};
Shopify.optionsMap = {};
Shopify.updateOptionsInSelector = function(selectorIndex) {
  switch (selectorIndex) {
    case 0:
      var key = 'root';
      var selector = jQuery('.single-option-selector:eq(0) select');
      break;
    case 1:
      var key = jQuery('.single-option-selector:eq(0) select').val();
      var selector = jQuery('.single-option-selector:eq(1) select');
      break;
    case 2:
      var key = jQuery('.single-option-selector:eq(0) select').val();  
      key += ' / ' + jQuery('.single-option-selector:eq(1) select').val();
      var selector = jQuery('.single-option-selector:eq(2) select');
  }
  
  var initialValue = selector.val();
  selector.empty();  

  var availableOptions = Shopify.optionsMap[key];
    
  for (var i=0; i<availableOptions.length; i++) {
    var option = availableOptions[i];
    var newOption = jQuery('<option></option>').val(option).html(option);
    selector.append(newOption);
  }
  jQuery('.es-swatch[data-option-index="' + selectorIndex + '"] .es-swatch-element').each(function() {
    if (jQuery.inArray($(this).attr('data-value'), availableOptions) !== -1) {
      $(this).removeClass('soldout').addClass('available').find(':radio').attr('checked');
       //$(this).removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled').attr('checked');
    }
    else {
      $(this).addClass('soldout').removeClass('available').find(':radio').removeAttr('checked');
     // $(this).addClass('soldout').removeClass('available').find(':radio').attr('disabled','disabled').removeAttr('checked');
    }
  });
  if (jQuery.inArray(initialValue, availableOptions) !== -1) {
    selector.val(initialValue);
        
  }
  selector.trigger('change');  
  
};
  
  function uniq(list) {
    var result = [];
    $.each(list, function(i, e) {
      if ($.inArray(e, result) == -1) result.push(e);
    });
    return result;
  }


Shopify.linkOptionSelectors = function(product) {};
  var product = {{product | json}}
  // Building our mapping object.
  for (var i=0; i<product.variants.length; i++) {
    var variant = product.variants[i];
    if (variant.available) 
    {
      // Gathering values for the 1st drop-down.
      Shopify.optionsMap['root'] = Shopify.optionsMap['root'] || [];
      Shopify.optionsMap['root'].push(variant.option1);
     Shopify.optionsMap['root'] = uniq(Shopify.optionsMap['root']);
      // Gathering values for the 2nd drop-down.
      if (product.options.length > 1) {
        var key = variant.option1;
        Shopify.optionsMap[key] = Shopify.optionsMap[key] || [];
        Shopify.optionsMap[key].push(variant.option2);
        Shopify.optionsMap[key] = uniq(Shopify.optionsMap[key]);
      }
      // Gathering values for the 3rd drop-down.
      if (product.options.length === 3) {
        var key = variant.option1 + ' / ' + variant.option2;
        Shopify.optionsMap[key] = Shopify.optionsMap[key] || [];
        Shopify.optionsMap[key].push(variant.option3);
        Shopify.optionsMap[key] = uniq(Shopify.optionsMap[key]);
      }
    }

    
    
    
    
    
  }
  // Update options right away.
  Shopify.updateOptionsInSelector(0);
  if (product.options.length > 1) Shopify.updateOptionsInSelector(1);
  if (product.options.length === 3) Shopify.updateOptionsInSelector(2);
  // When there is an update in the first dropdown.
  jQuery(".single-option-selector:eq(0) select").on("change",function() {
    Shopify.updateOptionsInSelector(1);
    if (product.options.length === 3) Shopify.updateOptionsInSelector(2);
    return true;
  });
  // When there is an update in the second dropdown.
  jQuery(".single-option-selector:eq(1) select").on("change",function() {
    if (product.options.length === 3) Shopify.updateOptionsInSelector(2);
    return true;
  });  
  
  jQuery("input[name='option-0']").click(function() {
    setTimeout(function(){
    Shopify.updateOptionsInSelector(1);
    if (product.options.length === 3) Shopify.updateOptionsInSelector(2);
    return true;
      },300);
  });
  // When there is an update in the second dropdown.
  jQuery("input[name='option-1']").click(function() {
    setTimeout(function(){
      if (product.options.length === 3) Shopify.updateOptionsInSelector(2);
      return true;
    },300);
  });  

 
{% if product.available and product.options.size > 1 %}
  var $addToCartForm = $('form[action="/cart/add"]');
  if (window.MutationObserver && $addToCartForm.length) {
    if (typeof observer === 'object' && typeof observer.disconnect === 'function') {
      observer.disconnect();
    }
    var config = { childList: true, subtree: true };
    var observer = new MutationObserver(function() {      
      Shopify.linkOptionSelectors({{ product | json }});
      observer.disconnect();
    });  
    observer.observe($addToCartForm[0], config);
  }
{% endif %}
{%if section.settings.sticky_cart%}
// $(window).bind('scroll', function() {
//   var navHeight = $( window ).height() - (-220);
//   if ($(window).scrollTop() > navHeight) {
//     $('form.form').addClass('fixed');
//   }
//   else {
//     $('form.form').removeClass('fixed');
//   }
// });


{% endif %}  
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section-top-margin",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },      
	{
      "type": "new_liquid",
      "name": "out of stock message",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_message",
          "default": false,
          "label": "Show out-of-stock message ?"
        },
        {
          "type": "text",
          "id": "link_url",
          "label": "Link URL",
          "default": "https://docs.google.com/forms/d/e/1FAIpQLSdbthj09BkU6qhu6c4ISk9wvGKFiMOb9y1_jyVXleqrWpo9JQ/viewform?usp=pp_url&entry.836057321=Elevar+ARC+Racer&entry.2055232012=9&entry.1105794204=Dark+Oreo"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Please notify me."
        },
        {
          "type": "liquid",
          "id": "new_liquid",
          "label": "custom message here",
          "info": "...."
        }
      ]
    },
	{
      "type": "gender_selector",
      "name": "MEN or WOMEN Tab",
      "settings": [
        {
          "type": "text",
          "id": "active_text",
          "label": "Tab Text 1",
          "default": "MEN"
        },
        {
          "type": "url",
          "id": "link_url1",
          "label": "Tab URL 1"
        },
        {
          "type": "text",
          "id": "inactive_text",
          "label": "Tab Text 2",
          "default": "WOMEN"
        },
        {
          "type": "url",
          "id": "link_url2",
          "label": "Tab URL 2"
        },
        {
          "type": "radio",
          "id": "tab_radio",
          "label": "Active Tab",
          "options": [
            { "value": "one", "label": "Tab 1" },
            { "value": "two", "label": "Tab 2" }
          ],
          "default": "one",
          "info": "Text"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
        "type": "color",
        "id": "color_border_swatch",
        "label": "swatch border Color",
        "default": "#d2d2d2"
    },
    {
        "type": "checkbox",
        "id": "zoom_image",
        "label": "Zoom image",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "sticky_cart",
        "label": "Sticky Cart",
        "default": true
    },
    {
      "type": "text",
      "id": "free_shipping_text",
      "default": "Free shipping on orders over $50. Free returns.",
      "label": "Free shipping text"
    },
    {
      "type": "header",
      "content": "GENDER TAB"
    },
    {
        "type": "checkbox",
        "id": "show_gender_tab",
        "label": "Show Gender Tab",
        "default": false
    },
    {
      "type": "text",
      "id": "active_text",
      "label": "Active Tab",
      "default": "MEN"
    },
    {
      "type": "url",
      "id": "link_url1",
      "label": "Link URL Active"
    },
    {
      "type": "text",
      "id": "inactive_text",
      "label": "Inactive Tab",
      "default": "WOMEN"
    },
    {
      "type": "url",
      "id": "link_url2",
      "label": "Link URL Inactive"
    },
    {
      "type": "radio",
      "id": "tab_radio",
      "label": "Active Tab",
      "options": [
          { "value": "one", "label": "Tab 1" },
          { "value": "two", "label": "Tab 2" }
		],
      "default": "one",
      "info": "Text"
    },
    {
      "type": "header",
      "content": "Offer Text Config"
    },
    {
        "type": "checkbox",
        "id": "show_offer",
        "label": "Show Offer widget",
        "default": false
    },
    {
      "type": "text",
      "id": "offer_title",
      "label": "Offer Title",
      "default": "Special Offer"
    },
    {
      "type": "text",
      "id": "offer_txt",
      "label": "Offer Text",
      "default": "Pay online and get a free ELEVAR Bat Grip worth Rs. 300 with your order"
    },
    {
      "type": "image_picker",
      "id": "offer_image",
      "label": "Offer Image"
    },
    {
      "type": "header",
      "content": "Tooltip Config"
    },
    {
      "type": "text",
      "id": "tooltip_name_1",
      "label": "Variant Option Name 1"
    },
    {
      "type": "text",
      "id": "tooltip_text_1",
      "label": "Text for the tooltip 1"
    },
    {
      "type": "text",
      "id": "tooltip_name_2",
      "label": "Variant Option Name 2"
    },
    {
      "type": "text",
      "id": "tooltip_text_2",
      "label": "Text for the tooltip 2"
    },
    {
      "type": "text",
      "id": "tooltip_name_3",
      "label": "Variant Option Name 3"
    },
    {
      "type": "text",
      "id": "tooltip_text_3",
      "label": "Text for the tooltip 3"
    },
    {
      "type": "text",
      "id": "tooltip_name_4",
      "label": "Variant Option Name 4"
    },
    {
      "type": "text",
      "id": "tooltip_text_4",
      "label": "Text for the tooltip 4"
    },
    {
      "type": "text",
      "id": "tooltip_name_5",
      "label": "Variant Option Name 5"
    },
    {
      "type": "text",
      "id": "tooltip_text_5",
      "label": "Text for the tooltip 5"
    },
    {
      "type": "text",
      "id": "breadcrumb_txt",
      "label": "Breadcrumbs Text"
    },
    {
      "type": "url",
      "id": "breadcrumb_link",
      "label": "Breadcrumbs Link"
    }


  ]
}
{% endschema %}
