{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'swatch-color.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'swatch-color.js' | asset_url }}" defer="defer"></script> 
   <style>
      label.thumb-dd {
    cursor: pointer;
}

div#FacetsWrapperDesktop {
  opacity: 1;
  z-index: 1;
}
menu-drawer.mobile-facets__wrapper.medium-hide.large-up-hide {
  display: flex;
}
.facet-filters.sorting.caption {
  display: none;
  opacity: 1;
  z-index: 1;
}     

.mobile-facets__sort {
  display: none !important;

}

@media screen and (max-width: 750px) {
  .mobile-facets {
    z-index: 1000 !important;
  }
  .disclosure-has-popup[open]>summary+* {
      z-index: unset;    
  }
  a.PillToggle__button {
  padding: 4px 8px;
  }  
  .filter-head {
    text-transform: uppercase;
    font-weight: 600;
  }
  .mobile-facets__label {
  padding: .5rem 2rem .5rem 0rem !important;
  }
  input.mobile-facets__checkbox {
    top: .2rem !important;
    left: 0 !important;
  }
  .mobile-facets__label .icon-checkmark {
    top: .9rem !important;
    left: 0.2rem !important;
  }
  .active-facets {
    flex-wrap: unset !important;
    overflow-y: scroll !important;

  }
  .active-facets__button {
    width: max-content !important;
  }
  .mobile-facets__header {
    text-align: left !important;
  }
  .mobile-facets__label > input[type="checkbox"]:checked ~ .filterLabel {
    font-weight: bold;
  }
  .mobile-facets__label > input[type="checkbox"]:checked ~ .icon-box {
    background-color: black;
  }
  .mobile-facets__label > input[type="checkbox"]:checked ~ .icon-checkmark {
    background-color: black;
    color: white;
  }
  .PillToggle {
    margin: 0 !important;
  }
  #product-grid .grid__item {
    padding-top: 5px;
  }
  .active-facets facet-remove:only-child {
    display: block !important;
  }
  .mob-facet-selected div:empty ~ .facet-rm-btn{
    display: none !important;
  }
  #ProductGridContainer {
    padding-top: 2rem;
  }
  .facet-child {
    position:relative;
  }
  .active-facets__button, .active-facets__button-remove {
    padding-right: 5px !important;
    padding-left: 0px !important;
  }
  .mobile-facets__checkbox:checked + .mobile-facets__highlight {
    background-color: #ffffff10 !important;
  }
}
     
    </style>

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

  <div class="page-width" id="main-collection-filters" data-id="{{ section.id }}">
    {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
  </div>
{%- endif -%}

<div id="ProductGridContainer">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size == 0 -%}
      <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
        <div class="loading-overlay gradient"></div>
        <div class="title-wrapper center">
          <h2 class="title title--primary">
            {{ 'sections.collection_template.empty' | t }}<br>
            {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
          </h2>
        </div>
      </div>
    {%- else -%}
      <div class="collection page-width">
        <div class="loading-overlay gradient"></div>
{% if template contains 'bats-collection' or template contains 'shoes-collection'%}
          <ul id="product-grid" data-id="{{ section.id }}" class="
          grid grid--1-col negative-margin product-grid
          {% if collection.products_count < 4 %} grid--3-col-tablet{% else %}
            {% if collection.products_count == 4 %} grid--3-col-desktop{% else %} grid--3-col-tablet grid--one-third-max grid--3-col-desktop grid--quarter-max{% endif %}
          {% endif %}">
          {%- for product in collection.products -%}
            <li class="grid__item">
              {% render 'product-card-new',
                product_card_product: product,
                media_size: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                add_image_padding: section.settings.add_image_padding,
                show_vendor: section.settings.show_vendor,
                show_image_outline: section.settings.show_image_outline,
                show_rating: section.settings.show_rating
              %}
            </li>
          {%- endfor -%}
        </ul>
        {% else %}
        <ul id="product-grid" data-id="{{ section.id }}" class="
          grid grid--2-col negative-margin product-grid
          {% if collection.products_count < 4 %} grid--{{ collection.products_count }}-col-tablet{% else %}
            {% if collection.products_count == 4 %} grid--4-col-desktop{% else %} grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}
          {% endif %}">
          {%- for product in collection.products -%}
            <li class="grid__item">
              {% render 'product-card',
                product_card_product: product,
                media_size: section.settings.image_ratio,
                show_secondary_image: section.settings.show_secondary_image,
                add_image_padding: section.settings.add_image_padding,
                show_vendor: section.settings.show_vendor,
                show_image_outline: section.settings.show_image_outline,
                show_rating: section.settings.show_rating
              %}
            </li>
          {%- endfor -%}
        </ul>
{% endif %}
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
